<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>음악추가</title>
</head>

<body>
</body>

<h3>음악 목록</h3>
<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>제목</td>
			<td>장르</td>
			<td>아티스트</td>
			<td>발매일</td>			
		</tr>
	</thead>
	
	<tr th:each="music : ${musics}">
		<td th:text="${music.id}">ID</td>
		<td th:text="${music.name}">제목</td>
		<td th:text="${music.genre}">장르</td>
		<td th:text="${music.artist.name}">아티스트</td>
		<td th:text="${music.releaseDate}">발매일</td>	
	</tr>
</table>

<h3>음악 추가</h3>
<form action="addMusic" method="post">
	<table>
		<tbody>
			<tr>
				<td>아티스트 : <input type="text" name="artist" /></td>
			</tr>
			<tr>
				<td>노래 제목 : <input type="text" name="name" /></td>
			</tr>
			<tr>
			<td>장르:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<select id="option" name="genre">
				  <option value="goyo">가요</option>
				  <option value="ballade">발라드</option>
				  <option value="ost">ost</option>
				  <option value="pop">팝</option>
				</select>
				</td>
			</tr>
			<tr>
				<td>등록일:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="Date" name="releaseDate" /></td>
			</tr>
			<tr>
				<td>앨범 ID : <input type="text" name="album" /></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" >저장</button>
</form>
</html>
